/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


/* Reset Basic */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--colorSecundario);
    width: 100%;
}

:root {
    /* Colores */
    --colorPrimario: #1A2130;
    --colorSecundario: #FCF8F3;
    --colorTerciario: #42177a;
    --colorTexto: #F5F7F8;
    --colorTitulo: #6527BE;
    --bgFooter: #2b0b83;
    --bgForm: #B6BBC4;

    /* fonts */
    --fontPoppins: "Poppins", sans-serif;
}

/* Section Main */
.containerPrincipal {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding-left: 20px;
    position: relative;
}

.clickMe {
    position: absolute;
    width: 60px;
    height: 60px;
    align-self: flex-end;
    top: 120px;
    z-index: 1;
    right: 250px;
}

.hero-content h1 {
    font-size: 3.75rem;
    color: var(--colorTitulo);
    font-family: var(--fontPoppins);
    max-width: 500px;
    line-height: 1;
    align-self: flex-start;
}

.hero-content p {
    font-size: 1.563rem;
    color: var(--colorTerciario);
    font-family: var(--fontPoppins);
    max-width: 450px;
    align-self: flex-start;
}

.hero-content span {
    font-weight: 600;
}

.hero-content>.imgEducativa {
    width: calc(80%);
    align-self: center;
}

/* Section Form */
.containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(100deg, rgba(253, 253, 253, 0.959), rgba(67, 18, 201, 0.822)), url(./img/fondo.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.containerForm h2 {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 1rem;
    color: #6b16da;
    font-family: var(--fontPoppins);
    align-self: flex-start;
    border-bottom: 2px solid #4a05aa;
}

form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 50px);
    column-gap: 2rem;
    row-gap: 4rem;
    background-color: transparent;
    box-shadow: 0px 20px 40px 10px rgba(250, 250, 250, 0.918);
    padding: 4rem;
    border-radius: 1rem;
}

.input-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.input-container>label {
    color: var(--colorPrimario);
    font-size: 14px;
    font-family: var(--fontPoppins);
    margin-bottom: 5px;
}

input {
    opacity: 0.7;
    transition: all ease .3s;
    width: 200px;
    padding: 12px;
    outline: none;
    font-size: 15px;
    border-radius: 2px;
    border: 1px solid var(--colorTitulo);
}

input::placeholder {
    color: #000000;
}

input:focus {
    background-color: #ffffff;
    opacity: 1;
}

.orderForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2.5rem;
}

.orderForm button {
    color: var(--colorTexto);
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    background-color: #4a05aa;
    transition: transform 0.3s ease, background-color 0.5s ease;
    margin-bottom: 1rem;
}

.orderForm button:hover {
    background-color: #6b16da;
    transform: scale(1.05) translateY(-3px);
}

.orderForm span {
    color: var(--bgFooter);
    font-family: var(--fontPoppins);
}

.orderForm span>a {
    color: var(--colorSecundario);
    transition: ease-in .3s;
}

.orderForm span>a:hover {
    text-decoration: none;
}

/* Section footer */
footer {
    width: 100%;
    height: 100px;
    padding: 20px;
    background-color: var(--bgFooter);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: var(--colorTexto);
    font-family: var(--fontPoppins);
    font-size: 1.2rem;
}

footer a {
    color: var(--colorTexto);
    transition: .2s linear;
}

footer a:hover {
    text-decoration: none;
    color: #a15bfc;
}